/.idea/
/composer.phar
/composer.lock
/phpunit.phar
/phpunit.xml
/vendor/
/src/Tests/Model/Base/
/src/Tests/Model/Mapping/
/src/TestsProject/app/cache/
/src/TestsProject/app/log/
/src/TestsProject/src/Model/Base/
/src/TestsProject/src/Model/Mapping/
/src/TestsProject/src/Model/*/Base/